
{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block title %}
 LogIn
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}

<div class="container login-register-container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <form class="form" method="POST" action="/login/">
                {% csrf_token %}
                <p class="title">LOGIN </p>
                {{form.as_p}}
                <hr>
                <p class='text-center'>Or</p>
                <div class="text-center ms-0"><a href="{% provider_login_url 'github' %}"><i class="fa-brands fa-github me-4 fs-5 text-light" aria-hidden="true"></i></a>
                <a href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google fs-5 text-light"></i></a></div>
                <br>
                <button class="submit">Submit</button>
                <br>
                <p class="signin">Don't have an acount? <a href="/register/">SignUp</a> </p>
                <p class="signin">Forgot password? <a href="/password_reset/">Reset</a> </p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}



{% block footer-js %}
{% if messages %}
{% for message in messages %}
<script>
  alertify.set('notifier', 'position', 'top-center');
  alertify.error('{{message}}!');
</script>
{% endfor %}
{% endif %}
{% endblock footer-js %}